*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.calculator{
    width: 25%;
    height: 50vh;
    border: 2px solid gray;
    color: white;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    background-color:rgb(35, 34, 34);
    gap: 10px;
    padding: 1rem;
    box-shadow: 10px 10px 10px 10px   rgb(21, 79, 76);
    border-radius: 1rem;

}
.massage-container{
    border: 1px solid wheat;
    grid-column: 1 / -1;
    height: 40px;
    text-align: center;
    box-shadow: 9PX  9PX   20PX rgb(0, 0, 0);
    background-color: rgba(232, 182, 3, 0.1);
}
input{
    width: 100%;
    height: 100%;
    text-align: right;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}
input::placeholder{
    color: white;
    padding-right: 0.4rem;

}
.button{
    text-align: center;
    padding-block: 0.7rem;
    border: 2px solid wheat;
    box-shadow: -0.5px 9px  3px rgb(95, 91, 91);
    border-radius: 50%;
    color: white;
    background: transparent;
}
.button:hover{
    background-color: wheat;
    color:black;
}